<div class="what-is-container">
  <div class="exceed-desktop">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-sm-12 exceed-desktop-content d-flex flex-column justify-content-center"
        >
          <h3 appAnimateOnScroll animationDelay="100">
            <span>{{ "Retail Solutions" | translate }}</span>
            <br />
            <span>{{ "and Point of Sale" | translate }}</span>
          </h3>

          <p appAnimateOnScroll animationDelay="100" class="mb-0">
            {{ "Retail solutions text" | translate }}
          </p>
        </div>

        <div
          class="exceed-desktop-frame col-lg-6 col-sm-12 d-flex align-items-center"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div class="row">
            <div class="col-10">
              <img src="imgs/fields/printer.svg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
